{% extends 'base.html.twig' %}

{% block title %}{{ page.title|striptags }} | {{ site.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            {% for character in collection %}
                <div class="col-xs-12 col-md-3">
                    <div class="card">
                        <a href="{{ path('character_item', {id: character.id}) }}"
                           style="background: url({{ character.thumbnailPath }}) top left; display: block; height: 200px;">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ character.name }}</h5>
                            <p class="card-text">{{ character.description }}</p>
                            <a href="{{ path('character_item', {id: character.id}) }}" class="btn btn-sm btn-success">View
                                Character</a>
                        </div>
                    </div>
                </div>
            {% else %}
                No results found
            {% endfor %}
        </div>
        {{ block('character_archive_pagination') }}
    </div>
{% endblock %}

{% block character_archive_pagination %}
    <div class="row mt-3 text-center">
        <div class="col">
            <div class="btn-group" role="pagination" aria-label="Pagination">
                {% if pageId > 1 %}
                    <a type="button" class="btn btn-warning"
                       href="{{ path(page.url, page.parameters|merge({pageId: pageId - 1, limit: limit})) }}">&laquo;</a>
                {% else %}
                    <button type="button" class="btn btn-warning disabled">&laquo;</button>
                {% endif %}
                {% for neighbor in neighbors %}
                    {% if neighbor != pageId %}
                        <a type="button" class="btn btn-warning"
                           href="{{ path(page.url, page.parameters|merge({pageId: neighbor, limit: limit})) }}">{{ neighbor }}</a>
                    {% else %}
                        <button type="button" class="btn btn-warning disabled">{{ neighbor }}</button>
                    {% endif %}
                {% endfor %}
                {% if pageId < pages %}
                    <a type="button" class="btn btn-warning"
                       href="{{ path(page.url, page.parameters|merge({pageId: pageId +1, limit: limit})) }}">&raquo;</a>
                {% else %}
                    <button type="button" class="btn btn-warning disabled">&raquo;</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
