{% extends 'base.html.twig' %}

{% block title %}{{ character.name }} | {{ site.title }}{% endblock %}
{% block head_meta %}
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ character.name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:image" content="{{ meta.image }}">
    <meta property="og:description" content="{{ character.description }}">
    <meta property="article:author" content="{{ meta.author[0].url }}">
    <meta name="description" content="{{ character.description }}">
    <script type="application/ld+json">{{ meta|json_encode|raw }}</script>
{% endblock %}

{% block body %}
    <div class="container comic">
        <div class="row mt-3">
            <div class="col-xs-12 col-sm-12 col-md-2">
                <img src="{{ character.sourcePath }}" class="img-fluid" alt="{{ character.name }}">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <h1>{{ character.name }}</h1>
                {% if character.nickname %}<h2><em>{{ character.nickname }}</em></h2>{% endif %}
                {% if character.isRaw %}
                    {{ character.biography|raw }}
                {% else %}
                    {{ character.biography|markdown_to_html }}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="row">
                    <h2>Featured in:</h2>
                </div>
                <div class="row">
                    {% for comic in character.featuredIn %}
                        <div class="col-6">
                            <div class="card bg-warning border-warning">
                                <a href="{{ path('comic_item', {id: comic.id}) }}">
                                    <img src="{{ comic.thumbnailPath }}" alt="{{ comic.title }}"
                                         class="img-fluid">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{ comic.title }}</h5>
                                    <p class="card-text">{{ comic.description }}</p>
                                    <a href="{{ path('comic_item', {id: comic.id}) }}"
                                       class="btn btn-sm btn-success">View Comic</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col">
                            <div class="alert alert-warning">
                                <em>This character has not been featured in any comics yet.</em>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
