{% extends 'base.html.twig' %}

{% block title %}{{ page.title|striptags }} | {{ site.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <h1>{{ page.title|raw }}:</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            {% for item in collection %}
                {% set pathName = item.type ~ '_item' %}
                <div class="col-xs-12 col-md-3">
                    <div class="card mt-3 bg-warning border-warning">
                        {% if item.image %}
                            <a href="{{ path(pathName, {id: item.id}) }}">
                                <img src="{{ item.image }}" alt="{{ character.title }}"
                                     class="img-fluid">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <a href="{{ path(pathName, {id: item.id}) }}" class="btn btn-sm btn-success">View
                                {{ item.type|capitalize }}</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col">
                    <div class="alert alert-warning"><em>No results found</em></div>
                </div>
            {% endfor %}
        </div>
        {{ block('search_pagination') }}
    </div>
{% endblock %}

{% block search_pagination %}
    <div class="row mt-3 text-center">
        <div class="col">
            <div class="btn-group" role="pagination" aria-label="Pagination">
                {% if pageId > 1 %}
                    <a type="button" class="btn btn-warning"
                       href="{{ path(page.url, page.parameters|merge({pageId: pageId - 1, limit: limit})) }}">&laquo;</a>
                {% else %}
                    <button type="button" class="btn btn-warning disabled">&laquo;</button>
                {% endif %}
                {% for neighbor in neighbors %}
                    {% if neighbor != pageId %}
                        <a type="button" class="btn btn-warning"
                           href="{{ path(page.url, page.parameters|merge({pageId: neighbor, limit: limit})) }}">{{ neighbor }}</a>
                    {% else %}
                        <button type="button" class="btn btn-warning disabled">{{ neighbor }}</button>
                    {% endif %}
                {% endfor %}
                {% if pageId < pages %}
                    <a type="button" class="btn btn-warning"
                       href="{{ path(page.url, app.parameters|merge({pageId: pageId +1, limit: limit})) }}">&raquo;</a>
                {% else %}
                    <button type="button" class="btn btn-warning disabled">&raquo;</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
