{% extends 'base.html.twig' %}

{% block title %}{{ comic.title }} | {{ site.title }}{% endblock %}
{% block head_meta %}
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ comic.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:image" content="{{ comic_meta.image }}">
    <meta property="og:description" content="{{ comic.description }}">
    <meta property="article:author" content="{{ comic_meta.author[0].url }}">
    <meta name="description" content="{{ comic.description }}">
    <script type="application/ld+json">{{ comic_meta|json_encode|raw }}</script>
{% endblock %}

{% block body %}
    <div class="container comic">
        <div class="row mt-3">
            {{ block('comic_pagination') }}
        </div>
        <div class="row mt-3">
            {% for panel in panels %}
                <img name="comic" src="{{ panel.path }}" alt="{{ panel.alt }}"/>
            {% endfor %}
        </div>
        <div class="row mt-3">
            {{ block('comic_pagination') }}
        </div>
        {% if content %}
            <div class="row mt-3">
                <h1>{{ comic.title }}</h1>
                {{ content|raw }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block comic_pagination %}
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Pagination and search">
        <div class="btn-group" role="pagination" aria-label="Pagination">
            {% if (previous_comic) %}
                <a type="button" class="btn btn-warning"
                   href="{{ path('comic', {id: header_navigation.first}) }}">
                    <span class="d-none d-md-inline">First</span>
                    <span class="d-inline d-md-none">&laquo;&laquo;</span>
                </a>
                <a type="button" class="btn btn-warning" href="{{ path('comic', {id: previous_comic}) }}">
                    <span class="d-none d-md-inline">Previous</span>
                    <span class="d-inline d-md-none">&laquo;</span>
                </a>
            {% else %}
                <button type="button" class="btn btn-warning disabled">
                    <span class="d-none d-md-inline">First</span>
                    <span class="d-inline d-md-none">&laquo;&laquo;</span>
                </button>
                <button type="button" class="btn btn-warning disabled">
                    <span class="d-none d-md-inline">Previous</span>
                    <span class="d-inline d-md-none">&laquo;</span>
                </button>
            {% endif %}
            {% if next_comic %}
                <a type="button" class="btn btn-warning" href="{{ path('comic', {id: next_comic}) }}">
                    <span class="d-none d-md-inline">Next</span>
                    <span class="d-inline d-md-none">&raquo;</span>
                </a>
                <a type="button" class="btn btn-warning" href="{{ path('comic', {id: header_navigation.current}) }}">
                    <span class="d-none d-md-inline">Current</span>
                    <span class="d-inline d-md-none">&raquo;&raquo;</span>
                </a>
            {% else %}
                <button type="button" class="btn btn-warning disabled">
                    <span class="d-none d-md-inline">Next</span>
                    <span class="d-inline d-md-none">&raquo;</span>
                </button>
                <button type="button" class="btn btn-warning disabled">
                    <span class="d-none d-md-inline">Current</span>
                    <span class="d-inline d-md-none">&raquo;&raquo;</span>
                </button>
            {% endif %}
        </div>
        <form class="input-group right" role="search" aria-label="Search" method="GET" action="{{ path('search') }}">
            <input type="text" class="form-control" name="q" placeholder="Search" aria-label="Search">
            <button type="submit" class="btn btn-warning"><span class="bi bi-search"></span></button>
        </form>
    </div>
{% endblock %}